#home
	.hero.bg-blue
		%h1.text-center.small
			Manage your business in the cloud with Atlas
		%blockquote.centered
			%span.large-txt
				General review of the product that describes what it has done for the user and how great it is
			%cite.transparent-txt
				John Doe, Owner
				%br
				XYZ Company, Inc
		%a.btn.btn-clear.centered{:href => "/sign-up"}
			%span
				Start a free trial
				
		.preview.centered
	.hero
		%h2