#dashboard-view {
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 100%;
	background: rgb(250, 250 ,250);
	padding-left: 250px;
}
#lead-view-menu {
	font-weight: 600;
	height: 50px;
	background: rgb(200, 200, 200);
	li {
		font-family: $helvetica;
		color: rgb(90, 90, 90);
		font-size: rem(12);
		font-weight: 500;
		padding: 0 25px;
		float: left;
		line-height: 50px;
		cursor: pointer;
		@include transition(all 0.20s ease-in-out);
		&.active,
		&:hover {
			color: #000;
			background: rgb(250, 250, 250);
		}
	}
}
.tab-view {
	padding: 25px;
	.heading {
		letter-spacing: -1.0px;
		font-size: rem(24);
		font-weight: 600;
	}
}

#new_note {
	margin-top: 15px;
}
.notes {
	font-size: rem(15);
	color: rgb(100, 100, 100);
	.date {
		font-size: rem(12);
		text-transform: uppercase;
		font-weight: 600;
		color: rgba(0, 0, 0, 0.30);
		margin-right: 5px;
	}
	.body {
		font-size: rem(15);
	}
}