#lightbox{data: {ng_show: 'showLightbox'}}
	.close{data: {ng_click: 'showLightbox = false'}}
		&times;
	#new-lead.centered
		%h3
			Create a new lead
		%form{data: {ng_controller: 'LeadsCtrl', ng_submit: 'create(currentLead)'}}
			.row
				%div.half
					%input{type: 'text', placeholder: 'First name', data: {ng_model: 'currentLead.first_name'}}
				%div.half
					%input{type: 'text', placeholder: 'Last name', data: {ng_model: 'currentLead.last_name'}}
			.row
				%div.half
					%input{type: 'text', placeholder: 'Email', data: {ng_model: 'currentLead.email'}}
				%div.half
					%input.phone-number{type: 'text', placeholder: 'Phone Number', data: {ng_model: "currentLead.phone_number"}}
			%button{type: 'submit'}
				Create Lead

#dashboard-main-bar
	.name
		Signed in as {{currentUser.name}}
	.new-lead
		%a{data: {ng_click: 'showLightbox = true'}}
			+ New Lead
			
#dashboard-menu{data: {ng_controller: 'LeadListCtrl'}}
	%input.centered{type: 'search', data: {ng_model: 'query'}, placeholder: 'Search your leads'}
	.lead{data: {ng_repeat: 'lead in leads | filter:search'}}
		%a{data: {ng_class: "{ 'active': activeLead == lead.id }", ng_click: 'viewLead(lead)'}}
			{{lead.first_name}} {{lead.last_name}}

#dashboard-view
	%div{data: {ng_controller: 'ViewLeadCtrl'}}
		#lead-view-menu
			%ul
				%li{data: {ng_class: "{'active': activeTab == 1}", ng_click: 'setActiveTab(1)'}} Info
				%li{data: {ng_class: "{'active': activeTab == 2}", ng_click: 'setActiveTab(2)'}} Notes
				%li{data: {ng_class: "{'active': activeTab == 3}", ng_click: 'setActiveTab(3)'}} Estimates
				%li{data: {ng_class: "{'active': activeTab == 4}", ng_click: 'setActiveTab(4)'}} Expense Report
				%li{data: {ng_class: "{'active': activeTab == 5}", ng_click: 'setActiveTab(5)'}} Order
		
	