.container-fluid
	#events
		%ul{data: {ng_controller: 'ListEventsCtrl'}}
			%li{data: {ng_repeat: 'event in events', ng_click: 'show(event)'}}
				%a{:href => ""}
					{{ event.date | date:'MMM dd, yyyy'}}
					%br
					{{ event.lead.first_name }} {{ event.lead.last_name }}
				
					
#lightbox{data: {ng_controller: 'LightboxCtrl', ng_show: 'show'}}
	.close{data: {ng_click: 'close()'}}
		&times; 
	#new-lead.center-block{data: {ng_controller: 'NewLeadCtrl', ng_show: 'false'}}
		%form{name: 'leadForm', novalidate: true, data: {ng_submit: 'create(currentLead, currentEvent, currentAddress)'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.first_name.$invalid && (newLead.first_name.$touched || newLead.$submitted) }"}}
						%label First Name
						%input.form-control{required: true, name: 'first_name', type: 'text', placeholder: 'First name', data: {ng_model: 'currentLead.first_name'}}
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.last_name.$invalid && (newLead.last_name.$touched || newLead.$submitted) }"}}
						%label Last Name
						%input.form-control{required: true, name: 'last_name', type: 'text', placeholder: 'Last name', data: {ng_model: 'currentLead.last_name'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.email.$invalid && (newLead.email.$touched || newLead.$submitted) }"}}
						%label Email
						%input.form-control{type: 'email', name: 'email', placeholder: 'Email', data: {ng_model: 'currentLead.email'}}
				.col-xs-6
					.form-group
						%label Phone number
						%input.form-control.phone-number{type: 'text', placeholder: 'Phone Number', data: {ng_model: 'currentLead.phone_number'}}
			
			%h4.text-center
				Event information
				
			.row
				.col-xs-6
					.form-group
						%label Street address
						%input.form-control{type: 'text', placeholder: '555 Main St', data: {ng_model: 'currentAddress.line1'}}
				
				.col-xs-6
					.form-group{data: {ng_controller: 'DatepickerCtrl'}}
						%label Date
						%input.form-control{type: 'text', placeholder: 'yyyy-mm-dd', data: {ng_model: 'currentEvent.date', ng_click: 'open($event)'}, 'datepicker-popup' => "{{ 'yyyy-MM-dd' }}", 'is-open' => 'opened'}
			
			.row
				.col-xs-6
					.form-group
						%label City
						%input.form-control{type: 'text', placeholder: 'Los Angeles', data: {ng_model: 'currentAddress.city'}}
						
			.row
				.col-xs-6
					.form-group
						%label State
						%input.form-control{type: 'text', placeholder: 'CA', data: {ng_model: 'currentAddress.state'}}

			.row
				.col-xs-6
					.form-group
						%label Zip
						%input.form-control{type: 'text', placeholder: '90001', data: {ng_model: 'currentAddress.zip'}}			
			
			.row
				.col-xs-12
					%button.btn.btn-default{type: 'submit'}
						Create Lead
						
	#new-line-item.center-block{data: {ng_controller: 'LineItemCtrl', ng_show: 'show.newForm || show.editForm'}}
		%form{name: 'newLineItem', novalidate: true, data: {ng_submit: 'save(currentLineItem)'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: '{ "has-error": newLineItem.name.$invalid && (newLineItem.$submitted || newLineItem.name.$touched) }'}}
						%label Name
						%input.form-control{required: true, name: 'name', type: 'text', placeholder: 'Name of line item', data: {ng_model: 'currentLineItem.name'}}
				.col-xs-3
					.form-group{data: {ng_class: '{ "has-error": newLineItem.amount.$invalid && (newLineItem.$submitted || newLineItem.amount.$touched) }'}}
						%label Amount
						%input.form-control{required: true, name: 'amount', type: 'text', placeholder: '0.00', data: {ng_model: 'currentLineItem.amount'}}
				.col-xs-3
					.form-group{data: {ng_class: '{ "has-error": newLineItem.qty.$invalid && (newLineItem.$submitted || newLineItem.qty.$touched) }'}}
						%label Quantity
						%input.form-control{required: true, name: 'qty', type: 'number', placeholder: '0', data: {ng_model: 'currentLineItem.qty'}}
					
			.row
				.col-xs-12
					.form-group{data: {ng_class: '{ "has-error": newLineItem.description.$invalid && (newLineItem.$submitted || newLineItem.description.$touched) }'}}
						%label Description
						%textarea.form-control{name: 'description', placeholder: 'Description', data: {ng_model: 'currentLineItem.description'}}
			.row
				.col-xs-12
					%button.btn.btn-default{type: 'submit'}
						%span{data: {ng_show: 'show.newForm'}} Add line item
						%span{data: {ng_show: 'show.editForm'}} Update
					%button.btn.btn-danger{type: 'button', data: {ng_show: 'show.editForm'}}
						%span{ng_hide: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = true' } Delete line item
						%span{ng_show: 'showDeleteConfirm', ng_click: 'destroy(currentLineItem)'} Are you sure?
					%button.btn.btn-default{type: 'button', data: {ng_show: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = false'}}
						%span No, nevermind

	#edit-lead.center-block{data: {ng_controller: 'LeadCtrl', ng_show: 'show.editForm'}}
		%form{name: 'leadForm', novalidate: true, data: {ng_submit: 'update(currentLead)'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': leadForm.first_name.$invalid && (leadForm.first_name.$touched || leadForm.$submitted) }"}}
						%label First Name
						%input.form-control{required: true, name: 'first_name', type: 'text', placeholder: 'First name', data: {ng_model: 'currentLead.first_name'}}
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': leadForm.last_name.$invalid && (leadForm.last_name.$touched || leadForm.$submitted) }"}}
						%label Last Name
						%input.form-control{required: true, name: 'last_name', type: 'text', placeholder: 'Last name', data: {ng_model: 'currentLead.last_name'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': leadForm.email.$invalid && (leadForm.email.$touched || leadForm.$submitted) }"}}
						%label Email
						%input.form-control{type: 'email', name: 'email', placeholder: 'Email', data: {ng_model: 'currentLead.email'}}
				.col-xs-6
					.form-group
						%label Phone number
						%input.form-control.phone-number{type: 'text', placeholder: 'Phone Number', data: {ng_model: 'currentLead.phone_number'}}
			.row
				.col-xs-12
					%button.btn.btn-default{type: 'submit'}
						%span{data: {ng_show: 'show.editForm'}} Update
					%button.btn.btn-danger{type: 'button', data: {ng_show: 'show.editForm'}}
						%span{ng_hide: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = true' } Delete lead
						%span{ng_show: 'showDeleteConfirm', ng_click: 'destroy(currentLead)'} Are you sure?
					%button.btn.btn-default{type: 'button', data: {ng_show: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = false'}}
						%span No, nevermind
	
	#event-form.form-container.center-block{data: {ng_controller: 'EventCtrl', ng_show: 'show.edit || show.new' }}
		%form{name: 'eventForm', novalidate: true, data: {ng_submit: 'save(current.event)'}}
			%header
				%h5
					%span{ng_show: 'show.new'} New Event
					%span{ng_show: 'show.edit'} Edit Event
			%section
				.row
					.col-xs-6{data: {ng_controller: 'DatepickerCtrl'}}
						.form-group{data: {ng_class: "{ 'has-error': eventForm.date.$invalid && (eventForm.date.$touched || eventForm.$submitted) }"}}
							%label Event date
							%input.form-control{required: true, name: 'date', type: 'text', placeholder: 'yyyy-mm-dd', data: {ng_model: 'model.date', ng_click: 'open($event)'}, 'datepicker-popup' => "{{ 'yyyy-MM-dd' }}", 'is-open' => 'opened'}
					.col-xs-6
						.form-group{data: {ng_class: "{ 'has-error': eventForm.name.$invalid && (eventForm.name.$touched || eventForm.$submitted) }"}}
							%label Event name
							%input.form-control{name: 'name', type: 'text', placeholder: 'Ex. Appleton Wedding', data: {ng_model: 'model.name'}}
			%footer
				%button.btn.btn-default{type: 'submit'}
					%span{data: {ng_show: 'show.new'}} Create event
					%span{data: {ng_show: 'show.edit'}} Update
			
	#address-form.form-container.center-block{data: {ng_controller: 'AddressCtrl', ng_show: 'show.edit || show.new'}}
		%form{name: 'addressForm', novalidate: true, data: {ng_submit: 'save(model)'}}
			%header
				%h5
					%span{ng_show: 'show.new'} New Event
					%span{ng_show: 'show.edit'} Edit Event
			%section
				.row
					.col-xs-12
						.form-group{data: {ng_class: "{ 'has-error': addressForm.line1.$invalid && (addressForm.line1.$touched || addressForm.$submitted) }"}}
							%label Street Address
							%input.form-control{name: 'line1', type: 'text', placeholder: '1235 Main St.', data: {ng_model: 'model.line1'}}

				.row
					.col-xs-6
						.form-group{data: {ng_class: "{ 'has-error': addressForm.city.$invalid && (addressForm.name.$touched || addressForm.$submitted) }"}}
							%label City
							%input.form-control{name: 'city', type: 'text', placeholder: 'Los Angeles', data: {ng_model: 'model.city'}}

					.col-xs-6
						.form-group{data: {ng_class: "{ 'has-error': addressForm.state.$invalid && (addressForm.state.$touched || addressForm.$submitted) }"}}
							%label State
							%input.form-control{name: 'state', type: 'text', placeholder: 'California', data: {ng_model: 'model.state'}}

				.row
					.col-xs-6
						.form-group{data: {ng_class: "{ 'has-error': addressForm.city.$invalid && (addressForm.name.$touched || addressForm.$submitted) }"}}
							%label City
							%input.form-control{name: 'zip', type: 'text', placeholder: '90001', data: {ng_model: 'model.zip'}}
			%footer
				%button.btn.btn-default{type: 'submit'}
					%span{data: {ng_show: 'show.new'}} Create event
					%span{data: {ng_show: 'show.edit'}} Update
	
#dashboard.container-fluid
	.row.secondary-bar{data: {ng_controller: 'LeadNavigationCtrl'}}
		.col-xs-12
			.btn-group
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("information")',		ng_class: " { 'active' : current.tab == 'information' }"}} Information
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("notes")',					ng_class: " { 'active' : current.tab == 'notes' }"}} Notes
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("estimate")',				ng_class: " { 'active' : current.tab == 'estimate' }"}} Estimate
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("timeline")',				ng_class: " { 'active' : current.tab == 'timeline' }"}} Timeline
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("files")',					ng_class: " { 'active' : current.tab == 'files' }"}} Files
				
	#event-information{data: {ng_controller: 'EventCtrl', ng_show: 'current.tab == "information"'}}
		.row
			.col-xs-12
				%h4 Event information
				{{current.event.name }}
				%br
				{{ current.event.date | date: 'MMM dd, yyyy' }}
				%br
					%a{:href => "", ng_click: 'edit(current.event)'}
						Edit event date
		.row
			.col-xs-12{data: {ng_controller: 'AddressCtrl'}}
				%h5 Location
				{{ current.event.address.line1 }}
				%br {{ current.event.address.city }}, {{ current.event.address.state }}
				{{ current.event.address.zip }}
				%br
					%a{:href => "", data: {ng_click: 'edit(current.event.address)'}}
						Edit event location
				
	#lead-notes{data: {ng_show: 'current.tab == "notes"'}}
		%form#new-lead-note{name: 'noteForm', data: {ng_controller: 'NoteCtrl', ng_submit: 'create(model)'}}
			.row
				.col-xs-12
					.form-group
						%input.form-control{type: 'text', placeholder: 'Add a note...', data: {ng_model: 'model.body'}}
		%ul.notes{data: {ng_controller: 'ListNotesCtrl'}}
			%li.note{data: {ng_repeat: 'note in notes | orderBy:"-created_at"'}}
				%span.time
					{{ note.created_at | date:'MMM dd, yyyy' }}
				%span.body				
					{{ note.body }}
					
	#estimate{data: {ng_show: 'current.tab == "estimate"'}}
		.row.controls{data: {ng_controller: 'LineItemCtrl'}}
			.col-xs-12
				.btn-group
					%button.btn.btn-default{type: 'button', data: {ng_click: 'new("revenue")'}} + Add line item
					%button.btn.btn-default{type: 'button', data: {ng_click: 'new("expense")'}} + Add expense
				.btn-group
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("revenue")', ng_class: "{ 'active': activeTab == 'revenue' }"}} Revenues
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("expense")', ng_class: "{ 'active': activeTab == 'expense' }"}} Expenses
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("report")', ng_class: "{ 'active': activeTab == 'report' }"}} Report
				
		.table-responsive.line-items{data: {ng_controller: 'ListLineItemsCtrl'}}
			%table.table
				%thead
					%tr
						%th Name
						%th Description
						%th Amount
						%th Qty 
						%th Total
				%tbody 
					%tr.line-item{data: {ng_repeat: 'lineItem in lineItems | roleFilter:role | orderBy:"-role" ', ng_controller: 'LineItemCtrl', ng_click: 'edit(lineItem)', ng_class: " { 'updated': updated } "}}
						%td 
							%a{:href => ""}
								{{ lineItem.name }}
						%td {{ lineItem.description || '' }}
						%td {{ lineItem.amount | currency }}
						%td {{ lineItem.qty }}
						%td{data: {ng_show: "lineItem.role == 'revenue'"}} {{ (lineItem.qty * lineItem.amount) | currency }}
						%td{data: {ng_show: "lineItem.role == 'expense'"}} {{ -(lineItem.qty * lineItem.amount) | currency }}
					%tr
						%td
							%strong
								Total
						%td 
						%td
						%td
						%td 
							%strong
								{{ total() | currency }}
		.table-responsive.products{data: {ng_controller: 'ListProductsCtrl'}}
			%table.table
				%thead
					%tr
						%th Product
						%th Description
						%th Price
						%th Add
				%tbody
					%tr{data: {ng_repeat: 'product in products', ng_controller: 'ProductCtrl'}}
						%td {{ product.name }}
						%td {{ product.description }}
						%td {{ product.price | currency }}
						%td
							%button.btn.btn-default.btn-sm{type: 'button', data: {ng_click: 'addToEstimate(product)'}} Add

	#timeline{data: {ng_show: 'current.tab == "timeline"'}}
