.container-fluid
	.company-leads-list{data: {ng_controller: 'ListLeadsCtrl'}}
		.controls
			.row
				.col-xs-12
					%button.btn.btn-default.btn-sm{type: 'button', data: {ng_click: 'showForm()'}} +
		
		.row.company-lead{data: {ng_repeat: 'lead in leads | orderBy:upcomingEvent '}}
			.col-xs-12
				%a{href: '', data: {ng_click: 'showLead(lead)'}}
					{{ (lead.events | orderBy:'date')[0].date | date:'MMM dd' }} {{ lead.first_name }} {{ lead.last_name }}

#lightbox{data: {ng_controller: 'LightboxCtrl', ng_show: 'show'}}
	.close{data: {ng_click: 'close()'}}
		&times; 
	#new-lead.center-block{data: {ng_controller: 'NewLeadCtrl', ng_show: 'show'}}
		%form{name: 'newLead', novalidate: true, data: {ng_submit: 'create(currentLead)'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.first_name.$invalid && (newLead.first_name.$touched || newLead.$submitted) }"}}
						%label First Name
						%input.form-control{required: true, name: 'first_name', type: 'text', placeholder: 'First name', data: {ng_model: 'currentLead.first_name'}}
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.last_name.$invalid && (newLead.last_name.$touched || newLead.$submitted) }"}}
						%label Last Name
						%input.form-control{required: true, name: 'last_name', type: 'text', placeholder: 'Last name', data: {ng_model: 'currentLead.last_name'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: "{ 'has-error': newLead.email.$invalid && (newLead.email.$touched || newLead.$submitted) }"}}
						%label Email
						%input.form-control{type: 'email', name: 'email', placeholder: 'Email', data: {ng_model: 'currentLead.email'}}
				.col-xs-6
					.form-group
						%label Phone number
						%input.form-control.phone-number{type: 'text', placeholder: 'Phone Number', data: {ng_model: 'currentLead.phone_number'}}
			
			.row
				.col-xs-6
					.form-group{data: {ng_controller: 'DatepickerCtrl'}}
						%label Date
						%input.form-control{type: 'text', placeholder: 'yyyy-mm-dd', data: {ng_model: 'currentEvent.date', ng_click: 'open($event)'}, 'datepicker-popup' => "{{ 'yyyy-MM-dd' }}", 'is-open' => 'opened'}
			
			.row
				.col-xs-12
					%button.btn.btn-default{type: 'submit'}
						Create Lead
						
	#new-line-item.center-block{data: {ng_controller: 'LineItemCtrl', ng_show: 'show.newForm || show.editForm'}}
		%form{name: 'newLineItem', novalidate: true, data: {ng_submit: 'save(currentLineItem)'}}
			.row
				.col-xs-6
					.form-group{data: {ng_class: '{ "has-error": newLineItem.name.$invalid && (newLineItem.$submitted || newLineItem.name.$touched) }'}}
						%label Name
						%input.form-control{required: true, name: 'name', type: 'text', placeholder: 'Name of line item', data: {ng_model: 'currentLineItem.name'}}
				.col-xs-3
					.form-group{data: {ng_class: '{ "has-error": newLineItem.amount.$invalid && (newLineItem.$submitted || newLineItem.amount.$touched) }'}}
						%label Amount
						%input.form-control{required: true, name: 'amount', type: 'text', placeholder: '0.00', data: {ng_model: 'currentLineItem.amount'}}
				.col-xs-3
					.form-group{data: {ng_class: '{ "has-error": newLineItem.qty.$invalid && (newLineItem.$submitted || newLineItem.qty.$touched) }'}}
						%label Quantity
						%input.form-control{required: true, name: 'qty', type: 'number', placeholder: '0', data: {ng_model: 'currentLineItem.qty'}}
					
			.row
				.col-xs-12
					.form-group{data: {ng_class: '{ "has-error": newLineItem.description.$invalid && (newLineItem.$submitted || newLineItem.description.$touched) }'}}
						%label Description
						%textarea.form-control{name: 'description', placeholder: 'Description', data: {ng_model: 'currentLineItem.description'}}
			.row
				.col-xs-12
					%button.btn.btn-default{type: 'submit'}
						%span{data: {ng_show: 'show.newForm'}} Add line item
						%span{data: {ng_show: 'show.editForm'}} Update
					%button.btn.btn-danger{type: 'button', data: {ng_show: 'show.editForm'}}
						%span{ng_hide: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = true' } Delete line item
						%span{ng_show: 'showDeleteConfirm', ng_click: 'destroy(currentLineItem)'} Are you sure?
					%button.btn.btn-default{type: 'button', data: {ng_show: 'showDeleteConfirm', ng_click: 'showDeleteConfirm = false'}}
						%span No, nevermind

#dashboard.container-fluid{data: {ng_controller: 'ShowLeadCtrl', ng_init: 'show'}}
	.row.primary-bar
		.col-xs-12
			.pull-left
				%h4.name
					{{ currentLead.first_name }} {{ currentLead.last_name }}
			.pull-right
				%select.form-control{data: {ng_model: 'currentEvent', ng_options: "event.name || (event.date | date:'MMMM dd, yyyy') || 'Event' for event in currentLead.events"}}
					%option{value: ''} Choose an event
	.row.secondary-bar
		.col-xs-12
			.btn-group
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("information")',		ng_class: " { 'active' : activeTab == 'information' }"}} Information
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("notes")',					ng_class: " { 'active' : activeTab == 'notes' }"}} Notes
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("estimate")',				ng_class: " { 'active' : activeTab == 'estimate' }"}} Estimate
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("timeline")',				ng_class: " { 'active' : activeTab == 'timeline' }"}} Timeline
				%button.btn.btn-default{type: 'button', data: {ng_click: 'viewTab("files")',					ng_class: " { 'active' : activeTab == 'files' }"}} Files
				
	#lead-information{data: {ng_show: 'activeTab == "information"'}}
		.row
			.col-xs-12
				%h4
					{{ currentLead.first_name }} {{ currentLead.last_name }}
		.row
			%p
				.col-xs-12
					{{ currentLead.email }}
		.row
			%p
				.col-xs-12
					{{ currentLead.phone_number }}
					
	#lead-notes{data: {ng_show: 'activeTab == "notes"'}}
		%form#new-lead-note{name: 'newLeadNoteForm', data: {ng_controller: 'NewLeadNoteCtrl', ng_submit: 'create(currentNote)'}}
			.row
				.col-xs-12
					.form-group
						%input.form-control{type: 'text', placeholder: 'Add a note...', data: {ng_model: 'currentNote.body'}}
		%ul.notes{data: {ng_controller: 'ListLeadNotesCtrl'}}
			%li.note{data: {ng_repeat: 'note in notes | orderBy:"-created_at"'}}
				%span.time
					{{ note.created_at | date:'MMM dd, yyyy' }}
				%span.body				
					{{ note.body }}
					
	#estimate{data: {ng_show: 'activeTab == "estimate"'}}
		.row.controls{data: {ng_controller: 'LineItemCtrl'}}
			.col-xs-12
				.btn-group
					%button.btn.btn-default{type: 'button', data: {ng_click: 'new("revenue")'}} + Add line item
					%button.btn.btn-default{type: 'button', data: {ng_click: 'new("expense")'}} + Add expense
				.btn-group
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("revenue")', ng_class: "{ 'active': activeTab == 'revenue' }"}} Revenues
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("expense")', ng_class: "{ 'active': activeTab == 'expense' }"}} Expenses
					%button.btn.btn-default{type: 'button', data: {ng_click: 'setActiveTab("report")', ng_class: "{ 'active': activeTab == 'report' }"}} Report
				
		.table-responsive.line-items{data: {ng_controller: 'ListLineItemsCtrl'}}
			%table.table
				%thead
					%tr
						%th Name
						%th Description
						%th Amount
						%th Qty 
						%th Total
				%tbody 
					%tr.line-item{data: {ng_repeat: 'lineItem in lineItems | filter:filterRole | orderBy:"-role" ', ng_controller: 'LineItemCtrl', ng_click: 'edit(lineItem)', ng_class: " { 'updated': updated } "}}
						%td 
							%a{:href => ""}
								{{ lineItem.name }}
						%td {{ lineItem.description || '' }}
						%td {{ lineItem.amount | currency }}
						%td {{ lineItem.qty }}						
						%td {{ lineItem.qty * lineItem.amount | currency }}
					%tr
						%td
							%strong
								Total
						%td 
						%td
						%td
						%td 
							%strong
								{{ total() | currency }}
		.table-responsive.products{data: {ng_controller: 'ListProductsCtrl'}}
			%table.table
				%thead
					%tr
						%th Product
						%th Description
						%th Price
						%th Add
				%tbody
					%tr{data: {ng_repeat: 'product in products', ng_controller: 'ProductCtrl'}}
						%td {{ product.name }}
						%td {{ product.description }}
						%td {{ product.price | currency }}
						%td
							%button.btn.btn-default.btn-sm{type: 'button', data: {ng_click: 'addToEstimate(product)'}} Add
