.container-fluid.hero.main
	.row.text-center
		.col-xs-12
			%h1.title
				Manage your business in the cloud with Atlas
			%h2.subtitle.small
				CRM for clients, events, and more
			%a.btn.btn-default.btn-lg{:href => "/sign-up"}
				Sign up now
			